.earnByWatchingAndHelpingT,
.watchToEarnIsHereMakeMo {
  position: absolute;
  height: 64.41%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 35.59%;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.earnByWatchingAndHelpingT {
  height: 22.6%;
  width: 82.99%;
  top: 77.4%;
  right: 10.08%;
  bottom: 0;
  left: 6.93%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto Mono";
}
.groupDiv,
.image283Div {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.groupDiv {
  height: 11.38%;
  top: 14.02%;
  bottom: 74.6%;
  font-size: 31px;
  color: #fff;
  font-family: Roboto;
}
.image283Div {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #fdff00;
}
.image283Div1,
.maskGroupDiv {
  position: absolute;
  height: 13.63%;
  width: 97.87%;
  top: 30.42%;
  right: 1.07%;
  bottom: 55.95%;
  left: 1.07%;
}
.image283Div1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #70ed9d;
}
.image283Div2,
.maskGroupDiv1 {
  position: absolute;
  height: 13.63%;
  width: 97.87%;
  top: 44.31%;
  right: 1.07%;
  bottom: 42.06%;
  left: 1.07%;
}
.image283Div2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #da5fb9;
}
.image283Div3,
.maskGroupDiv2 {
  position: absolute;
  height: 13.63%;
  width: 97.87%;
  top: 58.2%;
  right: 1.07%;
  bottom: 28.17%;
  left: 1.07%;
}
.image283Div3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9be9fc;
}
.maskGroupDiv3 {
  position: absolute;
  height: 13.63%;
  width: 97.87%;
  top: 72.09%;
  right: 0.8%;
  bottom: 14.28%;
  left: 1.33%;
}
.creatorsDiv {
  position: absolute;
  top: 34.92%;
  bottom: 62.06%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.creatorsDiv,
.hoursDiv,
.kmDiv {
  height: 3.02%;
  width: 81.33%;
  right: 9.33%;
  left: 9.33%;
  font-size: 38px;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
}
.hoursDiv {
  position: absolute;
  top: 48.87%;
  bottom: 48.1%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.kmDiv {
  top: 62.7%;
  bottom: 34.28%;
}
.hoursInLiveStreams,
.inWaitlistDiv,
.kmDiv {
  position: absolute;
  letter-spacing: 0.03em;
  display: inline-block;
}
.inWaitlistDiv {
  height: 1.86%;
  width: 82.99%;
  top: 38.39%;
  right: 8.75%;
  bottom: 59.74%;
  left: 8.27%;
  font-weight: 500;
}
.hoursInLiveStreams {
  top: 52.09%;
  bottom: 46.05%;
}
.hoursInLiveStreams,
.overDiv,
.virtuallyTravelledDiv {
  height: 1.86%;
  width: 82.99%;
  right: 8.48%;
  left: 8.53%;
  font-weight: 500;
}
.overDiv {
  position: absolute;
  top: 60.84%;
  bottom: 37.3%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.virtuallyTravelledDiv {
  top: 65.98%;
  bottom: 32.15%;
}
.kmDiv1,
.overDiv1,
.virtuallyTravelledDiv,
.virtuallyTravelledDiv1 {
  position: absolute;
  letter-spacing: 0.03em;
  display: inline-block;
}
.kmDiv1 {
  height: 3.02%;
  width: 81.33%;
  top: 76.59%;
  right: 9.33%;
  bottom: 20.39%;
  left: 9.33%;
  font-size: 38px;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
}
.overDiv1,
.virtuallyTravelledDiv1 {
  height: 1.86%;
  width: 82.99%;
  top: 74.73%;
  right: 8.48%;
  bottom: 23.41%;
  left: 8.53%;
  font-weight: 500;
}
.virtuallyTravelledDiv1 {
  top: 79.87%;
  bottom: 18.26%;
}
.rectangleDiv {
  position: absolute;
  top: 1384px;
  left: 43px;
  background-color: #d9d9d9;
  width: 293px;
  height: 154px;
}
.vIRALLOOPSHEREDiv,
.whitepaperTeamContact {
  position: absolute;
  font-size: 15px;
  letter-spacing: 0.03em;
  display: inline-block;
}
.vIRALLOOPSHEREDiv {
  height: 1.29%;
  width: 82.99%;
  top: 92.67%;
  right: 4.75%;
  bottom: 6.05%;
  left: 12.27%;
}
.whitepaperTeamContact {
  top: 22px;
  left: 60px;
  color: #fff;
}
.groupIcon {
  position: absolute;
  height: 5.29%;
  width: 21.33%;
  top: 5.72%;
  right: 38.13%;
  bottom: 88.99%;
  left: 40.53%;
  max-width: 100%;
  max-height: 100%;
}
.frameDiv {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 1555px;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  color: #1c1c1c;
  font-family: "Roboto Mono";
}
